# Dependency directories
node_modules/
bower_components/

# System Files
.DS_Store
Thumbs.db

# Jekyll-specific
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# If using a build script, include the build output directory
dist/
build/

# Environment files
.env
